<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
  {{ partial "header" . }}
  <body>
    {{ partial "nav" . }}
    <section class="section">
      <div class="container">
        <h1 class="title">{{ .Title }}</h1>
        <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </section>
    {{ partial "disqus" . }}
    {{ partial "footer" . }}
  </body>
</html>
