<section class="section">
  <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
  </div>
</section>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
{{ range .Site.Params.prism.languages }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-{{ . }}.min.js"></script>
{{ end }}
{{ if not .Site.BuildDrafts }}
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ end }}
