<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ delimit .Keywords ", " }}" name="keywords">
  <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}" property="og:title">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css">
</head>
